<body class="about_body">

	<div class="about_container">
		<!-- START HERE --> 
		<h1>About Santosh!</h1>

		<a href="https://github.com/sbharadwaj92" target="_blank">	
			<img src="assets/github.png" alt="Github">
		</a>
		<a href="https://twitter.com/sbharadwaj92" target="_blank">
			<img src="assets/twitter.png" alt="Twitter"> 
		</a>
		<a href="https://www.facebook.com/sbharadwaj92" target="_blank">
			<img src="assets/facebook.png" alt="Facebook">
		</a>

	</div><!-- .container -->

</body>