<div class="container">
	<body class="about_body">

	<div class="about_container">
		<!-- START HERE --> 
		<h1 class="about_h1">About Santosh!</h1>

		<h4 class="about_h4">Hi everyone, this is a pinterest appication created to learn ruby on rails through <a class="about_a" href="https://www.onemonth.com" target="_blank" >www.onemonth.com<a></h4>
		<a class="about_a" href="https://github.com/sbharadwaj92" target="_blank">	
			<img src="assets/github.png" alt="Github">
		</a>
		<a class="about_a" href="https://twitter.com/sbharadwaj92" target="_blank">
			<img src="assets/twitter.png" alt="Twitter"> 
		</a>
		<a class="about_a" href="https://www.facebook.com/sbharadwaj92" target="_blank">
			<img src="assets/facebook.png" alt="Facebook">
		</a>

	</div><!-- .container -->

</body>
</div>